body {

    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    background-color: rgb(122, 176, 197);
    width: fit-content;
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}


.application {
flex: 1;
display: flex;
align-items: center;
font-family: "Funnel Sans", sans-serif;
font-size: 25px;
color: black;
margin: 7px;
}

.label {
    font-size: 25px;
    gap: 10px;
    padding: 3px;
    width: 150px;

}

.form-row input,
.form-row select,
.form-row textarea {
  flex: 1;
  padding: 6px;
}

.header {

font-family: "Funnel Sans", sans-serif;
font-size: 40px;
color: rgb(13, 1, 44);
justify-content: center;
text-align: center;
letter-spacing: 15%; 

}

.input {
border: 2px, solid;
padding: 2px;
font-size: 20px;
width: 300px;
margin-left: 50px;
white-space: nowrap;


}


.input.input:textarea {

    font-family: "Funnel Sans", sans-serif;
}

.message {

border: 2px, solid;
padding: 2px;
font-family: "Funnel Sans", sans-serif;
font-size: 20px;
margin-left: 50px;
}



.button {

  padding: 5px, 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #03011b;
  color:#FFFFFF; 
  height: 40px;  
  width: fit-content;
  margin: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 10px;

}

.button:hover {
  background-color: #0e0763;
}

.button:active {
  position: relative;
  top: 3px;
  background-color: #03011b;
  
}
